<include href="views/header.html"></include>
<body>
    <div class="container mt-1">
        <div id="heading" class="text-center">
            <h1 class="text-center"> Hello Diner</h1>
            <h2>Serving the best food in the world</h2>
        </div>
        <div class="col-3 overflow-hidden">
            <h3 class="border-bottom"> View Menus</h3>

            <a class="btn btn-primary mb-1" href="menus/breakfast">Breakfast</a>
            <br>

            <a class="btn btn-primary mb-1" href="menus/lunch">Lunch</a>
            <br>

            <a class="btn btn-primary mb-1" href="menus/dinner">Dinner</a>
            <br>

            <a class="btn btn-success mb-1" href="order1">Order</a>
            <br>

            <a class="btn btn-success mb-1" href="order2">Order2</a>
        </div>

        <img src="img/diner.png" alt="diner image">
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>